In [7]:
import psycopg2
import pandas as pd

In [8]:
conn = psycopg2.connect(database="example_database", user="postgres", 
                        password="50770329", host="127.0.0.1", 
                        port="5432")
cur = conn.cursor()

In [ ]:
CREATE TABLE rain (
    id SERIAL PRIMARY KEY,
    lasttime TIMESTAMP,
    ST_NO VARCHAR(10),
    M10 FLOAT,
    H1 FLOAT,
    H3 FLOAT,
    H6 FLOAT,
    H12 FLOAT,
    H24 FLOAT
);

In [ ]:
import psycopg2
import pandas as pd
import requests
from datetime import date, datetime as dt, timedelta


conn = psycopg2.connect(database="example_database", user="postgres", 
                        password="50770329", host="127.0.0.1", 
                        port="5432")

print('Opened database successfully')

cur = conn.cursor()

lasttime = []#time
ST_NO = []
M10 = []
H1 = []
H3 = []
H6 = []
H12 = []
H24 = []

requests.packages.urllib3.disable_warnings()
r = requests.get("https://www.eocmap.gov.taipei/eocmap/Meter/RainStationInfo", verify=False)
list_of_dicts = r.json()

for i in range(len(list_of_dicts)):
    lasttime = str(dt.strptime(str(list_of_dicts[i]['DATE']), '%Y-%m-%dT%H:%M:%S'))
    ST_NO = list_of_dicts[i] ['ST_NO']
    M10 = list_of_dicts[i] ['M10']
    H1 = list_of_dicts[i] ['H1']
    H3 = list_of_dicts[i] ['H3']
    H6 = list_of_dicts[i] ['H6']
    H12 = list_of_dicts[i] ['H12']
    H24 = list_of_dicts[i] ['H24']

    sql = f"""
        INSERT INTO rain_2(
        lasttime, ST_NO, M10 ,H1 ,H3 , H6, H12, H24)
        VALUES ('{lasttime}', '{ST_NO}', {M10}, {H1}, {H3}, {H6},{H12},{H24})RETURNING id"""

    cur.execute(sql)
    conn.commit()
    id = cur.fetchone()[0]


conn.close()