In [7]:
import psycopg2
import pandas as pd

In [8]:
conn = psycopg2.connect(database="example_database", user="postgres", 
                        password="50770329", host="127.0.0.1", 
                        port="5432")
cur = conn.cursor()

In [ ]:
CREATE TABLE rain (
    id SERIAL PRIMARY KEY,
    lasttime TIMESTAMP,
    ST_NO VARCHAR(10),
    M10 FLOAT,
    H1 FLOAT,
    H3 FLOAT,
    H6 FLOAT,
    H12 FLOAT,
    H24 FLOAT
);